/* =============
    Navigation
============= */
#main-nav {
    background-color: $light-orange;
    display: none;

    place-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding-top: 20%;
    z-index: 999;
    padding-top: 35%;
    @include md{
    padding-top: 25%;
    }
    @include lg{
    padding-top: 15%;
    }

    #nav-container {
        @include md {
            display: grid; 
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "llama menu";
        }

        @include lg {
            grid-template-areas: "menu llama";
        }
        #llama-illustration {
            display: none;

            @include md {
                display: grid;
                grid-area: llama;
                // padding-right: 60px;
                margin-top: 20vh;
            }

            #llama {
                #llama-lg{
                    display: none;

                    @include lg {
                        display: grid;
                        width: 330px;
                        margin-bottom: -20vh;
                    }
                }

                #llama-md {
                    @include md {
                        margin-bottom: -30vh;
                    }

                    @include lg {
                        display: none;
                    }
                }
            }

            #arrow {
                @include md {
                    margin-top: -29vh;
                }

                #arrow-lg {
                    display: none;

                    @include lg {
                        display: grid;
                        // width: 365px;
                        margin-top: -27vh;
                        margin-left: -10vw;
                    }
                }

                #arrow-md {
                    @include md {
                        margin-left: 15vh;
                    }

                    @include lg {
                        display: none;
                    }
                }
            }

            #text-bubble {
                margin-top: -13vh;
                // padding-left: 30px;

                @include lg {
                    margin-top: -48vh;
                }
                #bubble {
                    @include md {
                        padding: 20px;
                    }

                    @include md {
                        background-color: $yellow;
                        padding: 20px 40px;
                        border-radius: 33px;
                    }

                    p {
                        @include md {
                            color: $dark-brown;
                            width: 200px;
                            font-size: rem-calc(20);
                            line-height: rem-calc(24);
                            font-family: 'Raleway', sans-serif;
                            font-weight: 500;
                            text-align: justify;
                        }

                        @include lg {
                            width: 290px;
                        }
                    }
                }
            }
        }

        #main-menu {
            @include md {
                display: grid;
                grid-area: menu;
                margin-top: -10vh;
                padding-left: 60px;
            }

            @include lg {
                margin-top: 5vh;
            }

            ul {
                li {

                    text-align: center;
                    
                    @include md {
                        padding-bottom: 20px;
                        text-align: left;
                    }

                    a:link, a:visited {
                        font-family: 'Raleway', sans-serif;
                        font-size: rem-calc(50);
                        font-weight: 700;
                        color: $dark-brown;
                        text-decoration: none;

                        // @include lg {
                        //     font-size: rem-calc(64);
                        // }
                    }

                    a:active, a:hover {
                        transition: 0.25s;
                        font-style: italic;
                        color: $nav-orange;
                        // border-bottom: 5px $nav-orange solid;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}